name: unix-test
on: ["push", "pull_request"]
jobs:
  grammar-test:
    name: Grammar Test
    runs-on: ubuntu-latest
    container:
      image: kusionstack/kclvm-builder
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: "true"
      - name: Grammar test
        run: make test-grammar
        shell: bash

  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    container:
      image: kusionstack/kclvm-builder
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: "true"
      - name: unit test
        run: | 
          make test-unit
        shell: bash

  konfig-test:
    name: Konfig Test
    runs-on: ubuntu-latest
    container:
      image: kusionstack/kclvm-builder
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: "true"
      - name: Konfig test
        run: | 
          make test-konfig
        shell: bash
